.section-content.display-toggle 
  p Hello there! I'm Karla, a self-taught front-end developer with an appetite for design and crafting delightful user experiences. My journey as a developer began with a desire to fix all of the problems I ran into while surfing the web. I was looking for a career that allowed me to solve problems with creative solutions. Web development was the perfect intersection of design and tech, allowed for fun yet challenging work, and knowing how it could impact so many people in a positive way added to that thrill.
  p Although I consider myself a front-end developer, I enjoy UX design and love designing my projects. I like to focus on the user experience and prioritize accessibility along with simple, yet fun designs. I'm always ready to learn, collaborate, and take on new challenges! You can find a list of my current skills below.
  p I’m currently seeking out my first role as a front-end developer in an (ideally) remote position or based out of Portland, OR. My goal is to work with people that care about the users, value inclusive design, and foster growth in a friendly, team-oriented environment. If you are interested, please reach out at karla.walker@hey.com.
  .skills
    h3 Skills
    .languages.list 
      +skillsList('Languages', ['HTML5', 'CSS3', 'JavaScript ES6', 'SQL'])
    .tools.list
     +skillsList('Tools/Frameworks', ['React', 'Express', 'Node', 'Sass', 'Git/GitHub', 'Figma', 'Adobe Illustrator', 'Adobe Photoshop'])