.contact-info
  ul 
    li 
      a(href="http://") GitHub
    li 
      a(href="http://") CodePen
    li 
      a(href="http://") LinkedIn
    li 
      a(href="mailto:keiwalker@icloud.com") keiwalker@icloud.com