/**
 * VARIABLE CONFIG FILE
 * I like keeping all variables in one file for easy
 * lookup and editing
 */

:root {
  --font-large: "Space Grotesk", sans-serif;
  --font-small: "Karla", sans-serif;

  --base-size: 1rem;
  --size-1: calc(var(--base-size) * 1.333);
  --size-2: calc(var(--base-size) * 1.777);
  --size-3: calc(var(--base-size) * 2.369);
  --flow-space: var(--size-3);

  --color-dark: #1a1a1a;
  --color-light: #f3f3f3;
  --color-dark-shade: #263147;
}
