$wrapper-width: 85%;
$margin-btm: 4.5rem;

header,
footer,
.intro,
.section {
  width: $wrapper-width;
  margin-inline: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 2rem $margin-btm;

  .logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
  }
}

nav {
  ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  margin-inline: auto;
}

.intro {
  // margin: $margin-btm auto;
  p {
    max-width: 30ch;
  }

  .contact-info {
    margin-top: 32px;

    ul {
      display: flex;
      flex-wrap: wrap;
      max-width: 500px;
    }

    li {
      margin-bottom: 10px;
      margin-right: 16px;
    }
  }
}

.section {
  // border: 1px solid red;
  // padding: 32px;

  .section-header {
    text-decoration: underline solid #cea2fd 10px;
    text-underline-position: under;
    width: auto;
  }

  .section-content {
    margin: 32px auto 64px;

    p {
      margin-bottom: 1rem;
    }

    .skills {
      background-color: #cea2fd;
      border: 2px solid #663399;
      border-radius: 10px;
      box-shadow: 6px 6px 1px rebeccapurple;
      padding: 32px;
      margin: 4rem 0;

      h3 {
        margin-bottom: 2rem;
      }

      h4 {
        display: flex;
        align-items: flex-end;
        margin-bottom: 1rem;
      }

      ul {
        display: flex;
        flex-flow: row wrap;

        li {
          background-color: lavender;
          border: 2px solid rgb(148, 148, 243);
          border-radius: 50px;
          min-width: max-content;
          margin-right: 10px;
          margin-bottom: 10px;
          padding: 0.25rem 0.75rem;
        }
      }

      .list:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }

  .display-toggle {
    display: none;
  }
}

.about .section-content {
  // display: flex;
}

footer {
  margin-top: auto;
  padding: 1.5rem 0;
  min-height: 6.25rem;
}
