h1 {
  font-size: 1.25rem;
  font-weight: 600;
}

article {
  p {
    font-size: 1.5rem;
    line-height: 1.2;
    font-weight: 300;
  }
}

nav h2 {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
}
