h1,
h2,
h3,
h4 {
  font-weight: 500;
  line-height: 1.1;
}

h1 {
  font-family: var(--font-large);
  font-size: clamp(2.5rem, 1.08rem + 4vw, 5.0625rem);
  font-weight: 400;
}

h2 {
  // font-size: var(--size-1);
  font-size: clamp(2.5rem, 1.08rem + 4vw, 5.0625rem);

  font-family: var(--font-large);
  font-weight: 400;
}

h3 {
  font-family: var(--font-large);
  font-weight: 300;
}

article > h2 {
  margin-block-end: var(--size-3);
}

a {
  font-family: var(--font-large);
  font-size: var(--size-links);
  text-decoration: none;
  font-weight: 500;
}

sup {
  font-size: 1rem;
}

p {
  font-size: clamp(1rem, 0.925rem + 0.8vw, var(--size-1));
}

.intro {
  h1 {
    font-family: var(--font-large);
    font-size: clamp(2.5rem, 1.08rem + 4vw, 5.0625rem);
    font-weight: 400;
  }

  &__sub {
    p {
      font-weight: 300;
      font-size: clamp(1.25rem, 4vmin, 1.8rem);
      line-height: 1.2;
    }
  }
}
