{% extends "layout/base.html" %} {% block content %}
<article class="intro wrapper flow" id="about">
  <div class="intro__container flow">
    <h1>{{ intro | safe }}</h1>

    <div class="intro__sub">
      <p>{{ subIntro | safe }}</p>
    </div>
    {% for item in about %}
    <p>{{ item }}</p>
    {% endfor %}
    <ul class="nav__list">
      <li><a href="/about">Read more about me</a></li>
      <li><a href="/#work">Check out my projects</a></li>
      <li><a href="/#contact">Get in touch</a></li>
      <li>
        <a
          href="https://drive.google.com/file/d/111yhj7UU6zfsSC-GAJa1aFMtgi2V3CyP/view?usp=sharing"
          target="_blank"
          >Resume</a
        >
      </li>
    </ul>
  </div>
</article>
<article class="featured wrapper" id="work">
  <h2>{{ featured.title }}</h2>
  <ul role="list" class="projects">
    {% include 'partials/project-card.html' %}
  </ul>
</article>
<article class="skills wrapper" id="skills">
  <h2>{{ skills.title }}</h2>
  <ul class="skills__container">
    <li class="skills__block" id="languages">
      <h3>Languages</h3>
      <ul role="list" class="skills__list">
        {% for item in skills.langList %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </li>
    <li class="skills__block" id="frameworks">
      <h3>Libraries + Frameworks</h3>
      <ul role="list" class="skills__list">
        {% for item in skills.frameworkList %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </li>
    <li class="skills__block" id="tools">
      <h3>Databases + other tools/platforms</h3>
      <ul role="list" class="skills__list">
        {% for item in skills.otherList %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</article>
{% include 'partials/contact.html' %} {% endblock %}
