{% extends "layout/base.html" %} {% block content %}
<article class="project wrapper">
  <div class="project__summary">
    <h1>{{ title }}</h1>
    <p>{{ summary }}</p>
    <div class="source-links">
      <a href="{{ liveSite }}">View Live Site</a>
      <a href="{{ sourceCode }}">View Source Code</a>
    </div>
    <div class="project__tech">
      <p><strong>Tech Stack:</strong></p>
      <ul class="skills__list">
        {% for item in projectDetails.techStack %}
        <li class="{{ item.tag }}">{{ item.name }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <img src="{{ mainImage }}" alt="{{ mainImageAlt }}" />
  {{ content | safe }}
</article>
{% endblock %}
