{% extends "layout/base.html" %} {% block content %}

<article class="project">
  <div class="project__details">
    <h2>{{ title }}</h2>
    <p>{{ summary }}</p>
    <p><strong>Client:</strong> {{ projectDetails.clientName }}</p>
    <p><strong>Services:</strong> {{ projectDetails.services }}</p>
  </div>
  <div class="project__section">
    <h2>{{ objective.title }}</h2>
    <p>{{ objective.summary }}</p>
    <figure>
      <img src="{{ objective.image }}" alt="" />
      <figcaption>Enter caption here</figcaption>
    </figure>
  </div>
  <div class="project__section">
    <h2>{{ process.title }}</h2>
    <p>{{ process.summary }}</p>
    <figure>
      <img src="{{ process.image }}" alt="" />
      <figcaption>Enter caption here</figcaption>
    </figure>
  </div>
  <div class="project__section">
    <h2>{{ challenges.title }}</h2>
    <p>{{ challenges.summary }}</p>
    <figure>
      <img src="{{ challenges.image }}" alt="" />
      <figcaption>Enter caption here</figcaption>
    </figure>
  </div>
</article>
{% endblock %}
