{% extends "layout/base.html" %} {% block content %}
<article class="services wrapper">
  <div class="services__container">
    {{ content | safe }}
    <div class="services__cards">
      {% for service in services %}
      <div class="service">
        <h2>{{ service.title }}</h2>
        <p>{{ service.summary }}</p>
        <p><em>{{ service.note }}</em></p>
        <div class="service-list">
          <p>What you get:</p>
          <ul>
            {% for item in service.items %}
            <li>{{ item }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="services__cta"></div>
</article>
{% endblock %}
