.card {
  color: var(--color-dark);
  border-radius: var(--border-radius);
  background-color: var(--color-card-background);
  padding: var(--size-3);
  border-bottom: 3px dashed var(--color-borders);
  margin: 0 auto;
  max-width: unset;

  &:hover h2 {
    color: var(--color-links);
  }

  h2 {
    margin: 0 0 10px;
    transition: all 0.2s ease-out;

    a {
      color: inherit;
      border-bottom: unset;
      font-size: clamp(1.25rem, 8vmin, 2rem);
      font-weight: 500;

      span {
        font-size: 20px;
      }
    }
  }

  p {
    margin-bottom: 1em;
  }

  .source-links {
    a {
      color: var(--color-links);
      border-bottom-color: var(--color-links);
    }
  }

  &-list {
    max-width: 45ch;
  }
}
