html,
body {
  overflow-x: hidden;
}

body {
  background: var(--color-light);
  color: var(--color-dark);
}

main {
  margin-top: 3em;
}

article {
  margin-block-end: 8rem;
}

img {
  border-radius: 10px;
}

a {
  color: inherit;

  border-bottom: 1px solid var(--color-links);
  padding-bottom: 2px;
  width: fit-content;

  &:hover {
    transition: border-bottom 0.3s linear;
  }
}

.source-links {
  display: flex;
  flex-direction: column;

  a:not(:last-of-type) {
    margin-bottom: 12px;
  }
}

.site-head {
  padding: 4em 0;
  max-width: 90%;
  margin: 0 auto;

  &__inner {
    display: flex;
    width: 100%;
  }

  &__logo {
    margin-inline-end: 1rem;
    border-bottom: unset;

    svg {
      max-width: 6ch;
      height: auto;
      transition: all 0.2s ease-in;

      &:hover {
        transform: rotate(180deg) scale(1.2);
        transition: all 0.2s ease-in;
      }
    }
  }
}

.nav__list {
  color: var(--color-links);
  display: flex;
  flex-direction: column;
  padding: var(--size-2) 0;

  li {
    margin-bottom: 10px;
  }

  li:not(:last-of-type) {
    padding-right: 1rem;
  }
}

nav a {
  text-decoration: none;

  &[aria-current="page"],
  &[data-state="active"] {
    text-decoration: underline;
    text-underline-offset: 5px;
  }
}

.languages {
  background-color: var(--color-pill-bg-1);
}

.framework {
  background-color: var(--color-pill-bg-2);
}

.tools {
  background-color: var(--color-pill-bg-3);
}

.intro {
  height: auto;
  margin: 0 auto 18em;
}

.projects {
  display: grid;
  gap: 1.5em;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}

.project {
  h1 {
    font-family: var(--font-large);
    margin-bottom: var(--base-size);
  }

  h2 {
    // font-weight: 500;
    margin-bottom: var(--base-size);
  }

  img {
    border-radius: 10px;
    box-shadow: 0px 4px 20px #4d4d4d97;
    margin-block-end: 4em;
  }

  &__summary {
    display: flex;
    flex-direction: column;

    p {
      margin-bottom: 1em;
    }

    a {
      color: var(--color-links);
      font-size: var(--base-size);
      width: fit-content;
    }
  }

  &__tech {
    margin: 2em 0 4em;

    p {
      margin-bottom: var(--base-size);
    }
  }

  &__details {
    a {
      color: var(--color-links);
      font-size: inherit;
    }
  }

  &__section {
    margin-block-end: 4em;
  }

  code {
    padding: 5px 10px;
    background-color: rgb(231, 231, 231);
    border-radius: 5px;
    color: rgb(80, 80, 80);
  }

  span {
    color: green;
    font-weight: bold;
  }

  table {
    border-collapse: collapse;

    width: 100%;
    max-width: 45ch;

    th {
      text-align: start;
    }

    th,
    td {
      border: 1px solid var(--color-links);
      padding: 5px;
    }
  }
}

.about {
  &-list {
    background-color: var(--color-card-background);
    border: 2px dashed var(--color-borders);
    border-radius: var(--border-radius);
    padding: var(--size-3);
    margin: 12px auto;
    // max-width: 90%;

    p {
      margin-bottom: var(--size-1);
    }
  }

  img {
    max-width: 80%;
    margin: 6em auto;
    border: 2px dashed var(--color-borders);
    border-radius: 100%;
  }
}

.contact {
  p {
    margin-bottom: 1em;
  }

  a {
    color: var(--color-links);
  }

  .email {
    font-size: clamp(1rem, 0.925rem + 0.8vw, var(--size-1));
  }
}

footer {
  margin: 2em auto 0 auto;
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  background-color: var(--color-card-background);
}

.footer {
  padding: 20px 30px;
}
