---
title: "Padawan web developer, mother of cats, maker of things."
layout: "/layout/about.html"
imageURL: "/images/karla-circle-background.png"
imageAlt: "Drawing of Karla Walker"
---

<h1>{{ title }}</h1>
<p>
  Hi! My name is Karla and I'm a web developer based out of Portland, OR. I enjoy making things,
  especially within the digital realm, so I was excited when I discovered web development. Building
  websites gives me the opportunity to help people all over the world while getting to be creative
  (win, win!). This inspired me to make the switch to a career in tech, bringing along the skills I
  learned while working in retail/customer service. I quickly fell in love with building delightful,
  user-friendly, and accessible web experiences.
</p>
<div class="about-list">
  <p>Why I love web development:</p>
  <ul class="styled-list">
    <li>
      I enjoy building websites that focus on accessibility and a positive user experience (I like
      making people happy 😄)
    </li>
    <li>CSS (my favorite language!)</li>
    <li>There's always something new to learn</li>
    <li>I love making fun animations with code</li>
    <li>It's both creative and technical</li>
    <li>You can help the world by building solutions to every-day problems</li>
  </ul>
</div>
<p>
  I'm currently looking for my first job in tech where I can work as part of a team of like-minded
  individuals. Writing code and building digital products is a challenging but super rewarding
  experience and I can't wait to be part of a team where I can help bring thoughtful web experiences
  to life.
</p>
<div class="about-list">
  <p>When I'm offline you can find me:</p>
  <ul class="styled-list">
    <li>playing video games with my husband</li>
    <li>drawing and making stuff in 3d</li>
    <li>learning</li>
    <li>cuddling with my cats</li>
    <li>watching anything Star Wars</li>
    <li>making banana bread</li>
  </ul>
</div>
