---
title: Karla Walker
---

extends ./_includes/base

include ./_includes/mixins


block content
  +navSection('about')
    include ./_includes/about
  +navSection('projects')
    include ./_includes/projects
     



