---
title: Karla Walker
---

extends ./_includes/base.pug

include ./_includes/mixins.pug


block content
  nav 
    +navSection('about')
      include ./_includes/about
    +navSection('projects')
      include ./_includes/projects
    +navSection('contact')
      include ./_includes/contact
     



