<article class="contact wrapper" id="contact">
  <h2>Contact</h2>
  <p>
    Please reach out at <a href="mailto:karla@codes.com" class="email">karla@codes.com</a> if you’re
    interested in working together! You can also find me on the following platforms:
  </p>

  <div class="source-links">
    <a href="https://github.com/karla-codes">GitHub</a>
    <a href="https://codepen.io/indiablonix">CodePen</a>
    <a href="https://www.linkedin.com/in/karladiazwalker/">LinkedIn</a>
  </div>
</article>
