<a class="skip-link" href="#main-content">Skip to content</a>
<header role="banner" class="site-head">
  <div class="wrapper">
    <div class="site-head__inner">
      <!-- <a href="/" aria-label="{{ site.name }} - home" class="site-head__logo">
        {% include "partials/logo.svg" %}
      </a> -->
      <nav class="site-head__nav" aria-label="Primary">
        <ul class="nav__list">
          {% for item in navigation.items %}
          <li>
            <a href="{{ item.url }}">{{ item.text }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>
