---
title: "Goals Pad"
summary: "Full stack app for keeping track of your goals."
liveSite: "https://goal-pad.fly.dev/"
sourceCode: "https://github.com/karla-codes/goal-tracker"
mainImage: "/images/goal-pad-1.png"
mainImageAlt: "Mass Effect Codex homepage"
featured: true
projectDetails:
  techStack:
    [
      { name: "React", tag: "framework" },
      { name: "Express", tag: "framework" },
      { name: "MongoDB", tag: "tools" },
      { name: "Mongoose", tag: "tools" },
      { name: "Fly", tag: "tools" },
    ]
  yearCompleted: 2022
features:
  title: "Features"
motivation:
  title: "Motivation"
---

<div class="project__details flow">
  <div class="project__section flow">
    <h2>{{ features.title }}</h2>
    <ul class="styled-list">
      <li>Create account with an email address and password</li>
      <li>Authenticate and authorize users</li>
      <li>Create, update, and delete goals</li>
    </ul>
  </div>
  <div class="project__section flow">
    <h2>{{ motivation.title }}</h2>
    <p>
      After graduating from Treehouse's Full Stack Javascript techdegree, I was really motivated to
      create a project all on my own. I had recently acquired the
      <a href="https://bestself.co/products/self-journal">Self Journal</a> and loved the idea of
      creating a digital version of it. The Self Journal has a lot of parts to it so I only focused
      on creating and defining goals.
    </p>
  </div>
</div>
